@model IEnumerable<PropertyViewModel>

@{
    var IsBroker = User.IsInRole("Broker");
}

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().PropertyName)</th>
            <th>@Html.DisplayNameFor(model => model.First().PropertyTypeName)</th>
            <th>@Html.DisplayNameFor(model => model.First().Location)</th>
            <th>@Html.DisplayNameFor(model => model.First().Price)</th>
            @if (IsBroker)
            {
                <th>@Html.DisplayNameFor(model => model.First().CommissionValue)</th>
            }
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var property in Model)
        {
            <tr>
                <td>@property.PropertyName</td>
                <td>@property.PropertyTypeName</td>
                <td>@property.Location</td>
                <td>@property.Price.ToString("C")</td>
                @if (IsBroker)
                {
                    <td>@property.CommissionValue.ToString("C")</td>
                    <td>
                        <a href="/Property/Edit?id=@property.Id" class="btn btn-sm btn-warning">Edit</a>
                        <a propertyId="@property.Id" class="btn btn-sm btn-danger deleteProperty">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function(){

        $('.deleteProperty').click(function(){
        var propertyId = $(this).attr('propertyId');

                $.ajax({
                    url: '/Property/Delete',
                    type: 'POST',
                    data: {
                        id: propertyId,
                    },
                    dataType: 'json',
                    success: function(response) {
                        if (response.success) {
                            location.reload(); // redirect
                        } else {
                            alert("Error: " + response.error);
                        }
                    },
                    error: function(error) {
                        console.error(error);
                    }
                });
        });

    });
</script>