@using HBA.Data.Model
@model Property

@{
    ViewData["Title"] = "Add Property";
}

<h2>Create Property</h2>

@using (Html.BeginForm("Create", "Property", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.PropertyName)
        @Html.TextBoxFor(model => model.PropertyName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PropertyName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PropertyTypeId)
        @Html.DropDownListFor(model => model.PropertyTypeId, ViewBag.PropertyTypes as IEnumerable<SelectListItem>, "Select Property Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PropertyTypeId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Location)
        @Html.TextBoxFor(model => model.Location, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price)
        @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-success">Create</button>
    <a href="/Property/Index" class="btn btn-secondary">Cancel</a>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
