@using HBA.Data.Model
@model Property

@{
    ViewData["Title"] = "Edit Property";
}

<h2>Edit Property</h2>

@using (Html.BeginForm("Edit", "Property", FormMethod.Post)) 
{
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.PropertyName, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(model => model.PropertyName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PropertyName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PropertyTypeId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(model => model.PropertyTypeId, ViewBag.PropertyTypes as IEnumerable<SelectListItem>, "Select Property Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PropertyTypeId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Location, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a href="/Property/Index" class="btn btn-secondary">Cancel</a>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
