@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "/Views/Shared/_LayoutLogin.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.Email, "Email Address", htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter your email" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, "Password", htmlAttributes: new { @class = "control-label" })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter your password" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.DisplayNameFor(m => m.RememberMe)
            </label>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Sign In</button>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
